@font-face {
    font-family: 'MyFont';
    src: url('./assets/fonts/Lora-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'MyFont', Georgia, monospace;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-width: 700px;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #ffd199;
}

html {
    min-width: 700px;
    font-size: 13px;
    height: 100dvh;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #ffd199;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* По ТЗ лабы 2 */
h3 {
    font-size: large;
}

/* По ТЗ лабы 2 */
p {
    font-size: medium;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* скроллбар */
::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0);
    width: 8px;
    height: 8px;
}

/* ползунок */
::-webkit-scrollbar-thumb {
    background: #f08e0987;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f08e09;
}

::-webkit-scrollbar-thumb:active {
    background-color: #f08e09;
}

/* трек */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* уголок */
::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}


main, footer {
    width: 100%;
}

main {
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-shrink: 0;
    display: flex;
    padding: 3rem;
    row-gap: 2rem;
}

footer {
    background: #bb552a;
    min-height: 150px;
    height: -webkit-fill-available;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#social-links, #resources {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
}

#resources a {
    color: #ffffff;
}

#resources a:hover {
    color: #feffd2;
}

/* По ТЗ лабы 2 */
#resources > nav {
    line-height: 1.5rem;
}

#social-links a {
    color: #ffffff;
}

#social-links a:hover {
    color: #feffd2;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    align-items: center;
    background-position: 50%;
    background-size: cover;
    background-image: url("./assets/images/header.png");
    background-repeat: no-repeat;
    position: sticky;
    padding: 10px;
}

header:before {
    background-image: linear-gradient(to bottom, rgba(255, 191, 153, 0) 25%, #ffd199);
    bottom: 0;
    content: "";
    display: block;
    height: 160px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

a {
    text-decoration: none;
    color: #f06e38;
    /* По ТЗ лабы 2 */
    font-size: medium;
}


.header-auth {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
    column-gap: 10px;
    font-size: 1.2rem;
}

.header-auth #sign-in {
    border-radius: 5px;
    border: 2px solid #000000;
    padding: 5px 10px;
    color: #000000;
}

.header-auth #register {
    border: 2px solid #f08e09;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f08e09;
    color: white;
}

.header-nav {
    display: flex;
    width: 100%;
    height: calc(60px - 40px);
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    column-gap: 3rem;
}

.header-nav__logo {
    display: flex;
    align-items: center;
    width: 144px;
    height: 100%;
    justify-content: center;
}

.header-nav__links {
    display: flex;
    align-items: center;
    height: 100%;
    width: calc(100% - 144px);
    column-gap: 10px;
}

.header-nav__links > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dropdown {
    position: relative;
    cursor: pointer;
    background: #ffffffd6;
    border-bottom: 1px solid #ffffffd6;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 3px 10px !important;
}

.dropdown:hover {
    border-color: #f08e09;
}

.dropdown > li {
    font-size: 1.5rem;

    > a {
        font-size: 1.5rem;
        color: #000000;
        text-decoration: none;
    }
}

.dropdown-content {
    list-style-type: none;
    display: none;
    position: absolute;
    min-width: 5rem;
    width: 100%;
    transition: all 1s ease;
    top: calc(1.5rem + 10px);
    left: 0;
    background: #ffffffd6;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dropdown-content ul {
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    padding-inline: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #f08e09;
    background: #f08e091a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-content ul li:hover {
    background: #f08e09;
}

/* По ТЗ лабы 2 */
.dropdown-content ul li {
    text-indent: 10px;
}

.dropdown-content ul li:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.ul-link {
    background: #f08e09;
    border-bottom: 1px solid #f08e09;
}

#page {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scrollbar-gutter: stable;
    height: calc(100% - 100px);
}

#page-inner {
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

h1 {
    width: 100%;
    font-size: 2rem;
}

section {
    width: 100%;
}

.content-categories {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page-box-content {
    background: #f2f2f2;
    border: 1px solid #cecece;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.page-box-content-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #f08e09;
    border-bottom: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1.5rem;
    height: 2em;
    /* По ТЗ лабы 2 */
    filter: drop-shadow(0 0 0.75rem #f08e09);
}

.page-box-content-inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2em;
}

/* По ТЗ лабы 2 */
.page-box-content-inner > p > a {
    /* Фикс лаба 2 */
    text-transform: capitalize;
    font-weight: 550;
    font-style: italic;
    word-spacing: -0.2ch;
    letter-spacing: 0.1rem;
}

.survey-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & label {
        font-size: 16px;
        font-weight: 600;
    }
}

.survey-form-inputs {
    display: flex;
    gap: 150px;

    & input {
        text-align: center;
        border: 1px solid #f06e38;
        height: 34px;
        font-size: 15px;
    }
}

.styled-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-weight: 600;
    background: #f06e38;
    color: #ffffff;
    cursor: pointer;
    height: 46px;
    width: 150px;
    font-size: 13px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
    gap: 16px;
}

.card-lock {
    position: absolute !important;
    top: 22px;
    left: 22px;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    height: 70px;
    border: 2px solid #f06e38;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;

    &[data-checked] {
        border-color: forestgreen;

        > a {
            color: forestgreen;
        }
    }

    .card-buttons {
        display: flex;
        align-items: center;
        gap: 16px;

        > button {
            & :hover {
                cursor: pointer;
            };
        }
    }
}

.request-button {
    border-radius: 8px;

    & img {
        width: 24px;
        height: 24px;
    }
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.comment {
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px solid #f08e09;
    background: #ffffff;
    width: 100%;
    height: 80px;
    border-radius: 8px;
    padding: 8px 16px;

    & img {
        width: 50px;
        height: 50px;
        border-radius: 28px;
    }

    & span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        cursor: pointer;
    }

    #post-id {
        margin-left: auto;
        min-width: 70px;
        font-weight: 600;

        @media screen and (max-device-width: 810px) {
            visibility: hidden;
        }
    }
}

.comment-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 430px;
    width: 430px;
    font-weight: 600;
}

table {
    border: 1px solid #000000;
    /*Фикс лаба 3*/
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

thead,
tbody,
tr {
    display: contents;
    border-left: 1px solid #000000;
}

/*Фикс лаба 3*/
table th {
    padding: 8px;
}

table td {
    border: 1px solid #000000;
    text-align: center;
    /*Фикс лаба 3*/
    padding: 8px;
}


tr:nth-child(2n - 1) td {
    background-color: #f06e38;
}

#for-nothing-container {
    container-name: table-data;
    container-type: inline-size;
}

@container table-data (max-width: 1000px) {
    table {
        grid-template-columns: repeat(4, 1fr);
    }

    td:nth-child(2) {
        display: none;
    }

    th:nth-child(2) {
        display: none;
    }
}

@container table-data (max-width: 700px) {
    table {
        grid-template-columns: repeat(3, 1fr);
    }

    td:nth-child(3) {
        display: none;
    }

    th:nth-child(3) {
        display: none;
    }
}